@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a.logo {
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 28px;
    color: white;
}

header a.logo img {
    width: 70px;
    margin-right: 10px;
}

.large-header {
    position: relative;
    width: 100%;
    background: radial-gradient(circle, #052039, rgb(2, 16, 36) 60%);
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}
.content{
    margin: 10px auto auto auto;
}
.camera-card {
    background: rgba(176, 178, 203, 0.104);
    border-radius: 10px;
    padding: 100px;
    margin: 10px auto auto auto; /* Top margin set to 10px, horizontal centering */
    width: 700px;
}


.camera {
    position: relative;
    width: 100%; /* Make it responsive */
    height: 500px;
    text-align: center;
}

video, canvas {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
    margin-bottom: 10px;
}

canvas{
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
}
.button-container {
    padding: 10px;
    display: flex; /* Align buttons in a row */
    justify-content: center; /* Center buttons horizontally */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
}

button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

button:disabled {
    background-color: #cccccc;
}

#dismiss {
    display: block; /* Ensure it's visible when needed */
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#canvas {
    display: none; /* Hidden by default, shown after capturing an image */
}

@media only screen and (max-width: 768px) {
    .camera-card {
        width: 100%; /* Full width on smaller screens */
    }

    .camera {
        height: auto; /* Adjust height for smaller screens */
    }
}
